<% if CONFIG[:show_processing_disclaimer] == true -%>
  <h4 class="forcetopmargin">Attention: Returns</h4>
  <p>Processed books are not returnable if processed according to your instructions.</p>
<% end -%>
