<form name="postForm" method="POST" ng-submit="submit()" csrf-tokenized class="form-horizontal">
  <fieldset>
    <legend>Post to: </legend>
    <div class="control-group">
      <label class="control-label">Text input</label>
      <div class="controls">
        <div class="textarea-wrapper">
          <textarea name="text" ng-model="text" class="fullwidth"></textarea>
        </div>
        <p class="help-block">Supporting help text</p>
      </div>
    </div>

    <div class="form-actions">

      <button type="submit" class="btn btn-primary">Post</button>
      <button class="btn">Cancel</button>
    </div>
  </fieldset>
</form>