<h1>Oops!</h1>
<p>
The request you submitted seems to be invalid. You may have mistyped the address, timed-out on a form or the page may have moved.
<br />
<%= link_to("Continue shopping &raquo;".html_safe, shop_url) %>
</p>
