<h1>Grade Levels</h1>

<%= render :partial => 'shared/filter_by_category' %>

<% if @levels.any? %>
  <% @levels.each do |level| -%>
    <%= render :partial => 'level', :locals => {:level => level} %>
  <% end -%>
<% else %>
  <p>No records found.</p>
<% end %>
