<% if admin? -%>
  <% url = (defined?(controller_path) && controller_path ? {:controller => controller_path} : {}) -%>
  <ul class="actions">
    <li><%= link_to image_tag('buttons/admin/trash.gif', :alt => 'Delete'), url.merge(:action => 'destroy', :id => record), {:method => :delete, :confirm => 'Are you sure you wish to delete this record?', :class => 'admin'} %></li>
    <li><%= link_to image_tag('buttons/admin/new.gif', :alt => 'New'), url.merge(:action => 'new'), {:class => 'admin'} %></li>
    <li class="last"><%= link_to image_tag('buttons/admin/back.gif', :alt => 'Back'), url.merge(:action => 'index'), {:class => 'admin'} %></li>
  </ul>
<% end -%>