<h2>Headlines</h2>
<%= render :partial => 'headlines/headline', :collection => Headline.find_latest(1), :spacer_template => 'shared/spacer' %>
<p class="morebuttons"><%= link_to('More headlines &raquo;'.html_safe, headlines_url, :class => 'more') %></p>
