<h2>Help Center</h2>
<p>Don't know where to look for answers? Look no further (use the 'help' search).</p>
<%= render :partial => 'faqs/search' %>

<h2>Research Assistant</h2>
<p>Use the form below to find sites related to a specific book published by <%= CONFIG[:company_name] %>. Simply enter the Product Name or ISBN and press the search button.</p>
<%= render :partial => 'links/search' %>
