<h1>Learn</h1>

<h4><a href="http://www.janebelkmoncure.com/">The Official Site of Jane Belk Moncure</a></h4>
<p>Jane shares her life-long love of books with a new generation in the 21st century. Her site enables teachers, parents and children to interact with her directly. Explore the wealth of knowledge she has accumulated over the past 50 years as a pioneer in the field of early childhood education.</p>

<h4><%= link_to 'Recommended Sites', :controller => 'links', :action => 'sites' %></h4>
<p>Recommended sites for Teachers and Students.</p>

<h4><%= link_to 'Research Assistant', :controller => 'links' %></h4>
<p>Links for each title we publish to assist students in research projects.</p>

<h4><%= link_to 'Most Popular Links', :controller => 'links', :action => 'popular' %></h4>
<p>An ordered list of the most-viewed links associated with our titles.</p>

<h4>Book Activities</h4>
<ul style="margin-top: 0;">
<li><a href="http://www.childrenstation.com/mcdragon.htm">Magic Castle Readers&reg;</a></li>
<li><a href="http://www.childrenstation.com/mnblittle5.htm">My Number Books</a></li>
<li><a href="http://www.childrenstation.com/fsrsbbmyb.htm">New Sound Box&reg; Library</a></li>
<li><a href="http://www.childrenstation.com/wbmagicwand.htm">New Word Bird&reg; Library</a></li>
</ul>