.wrapper {
  background:#fff url(../images/layouts/public/wrapper-bg-blue.gif) repeat-y top left;
}
.main {
  background:url(../images/layouts/public/logo-edge-blue.gif) no-repeat top left;
}
#content {
  background:url(../images/layouts/public/main-bg.gif) no-repeat top right;
}
#bottombar {
  background:url(../images/layouts/public/footer-blue.gif) no-repeat top left;
}
