<table cellspacing="0" class="list">
	<tr>
		<th class="first">Order Number</th>
	  <th>Date placed</th>
	  <th>Status</th>
		<th class="qty">Items</th>
	  <th class="number last">Total</th>
	</tr>
	<%= render :partial => 'order', :collection => orders %>
</table>
