<h1>Forgot Your Password?</h1>

<p>Enter your email address in the field below and click 'Submit Request' to have a new password emailed to you.</p>

<%= form_tag do %>
	<fieldset>
		<div class="group">
		  <div class="full">
		    <%= label_tag :email, 'Email address' %>
        <%= text_field_tag :email %>
		  </div>
			<div class="clearboth"></div>
		</div>
	</fieldset>
	<%= page_buttons(submit_tag('Submit Request'), link_to('Cancel', :action => 'login')) %>
<% end %>
