<% content_for :sidebar do %>
<ul class="submenu">
  <li><%= link_to "Recipients", admin_recipients_path %></li>
  <li><%= link_to "Export Products", export_admin_products_path %></li>
</ul>
<% end %>
<%= render :file => 'layouts/administration' %>
