#tooltip {
  position:absolute;
  left:0;
  top:0;
  font-size:0.78em;
  color:#333;
  background:transparent url(../images/stem.png) no-repeat 0 10px;
}
#tooltip .content, #tooltip .contentx {
  border:5px solid #6F7E44;
  background-color:#FEFEEE;
  width:200px;
  margin-left:10px;
  padding:10px;
  overflow:hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow:2px 3px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:2px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:2px 3px 5px rgba(0, 0, 0, 0.4);
}
#tooltip .contentx {
  width:350px;
}
#tooltip h3 { margin:0 0 0.7em 0; padding:0; }
#tooltip p { margin:0 0 0.7em 0; }
#tooltip ul { list-style:none none inside; padding-left:0; margin:0.7em 0 0 0; }
