<h1><%= calculate_page_heading %></h1>

<%= semantic_form_for @sales_team do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/new_buttons', :locals => {:f => f} %>
<% end -%>
