<%= render :partial => 'shared/admin_index_actions', :locals => {:record => @testimonials, :controller_path => "admin/#{controller.controller_name}"} %>

<h1><%= calculate_page_heading %></h1>

<%= render :partial => 'testimonials/testimonial', :collection => @testimonials, :spacer_template => 'shared/spacer' %>

<%= will_paginate @testimonials %>
